{%  extends 'OryzoneBoilerplateBundle::html5.html.twig' %}

{% block head_css %}
{% stylesheets
    '@FacileSandboxBundle/Resources/public/compass/stylesheets/screen.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="container">
    <h1>Facile.it</h1>
    <h2>homepage!!!</h2>
</div>
{% endblock %}